@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --background : #F9F9F9;
  --text : #1D201F;
  --off-text: #DFE2E1;
  --accent: #58B09C;
  --accent-dark: #4b9785;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}